{{#if label}}
  {{em-label text=label viewName=labelViewName}}
{{/if}}
{{view controlView viewName=controlViewName property=propertyName}}
{{#if hasError}}
  <span class="help-block">{{errorMsg}}</span>
{{/if}}
