header nav {
  margin-left: 5em;
}

header nav ul {
  list-style: none;
}
header nav ul, header nav ul li {
  margin: 0;
  padding: 0;
}
header nav ul li:first {
  margin-left: 0;
}
header nav ul li {
  float: left;
  margin-left: 2em;
}
