{{#em-container}}
  {{#em-row}}
    {{#em-col col=12}}
      <h1>Ember-Ika-Forms</h1>
    {{/em-col}}
  {{/em-row}}
  {{#em-row}}
    {{#em-col col=12}}
      {{outlet}}
    {{/em-col}}
  {{/em-row}}
{{/em-container}}
