{{#em-container}}
  {{#em-row class="header"}}
    {{#em-col col=3}}
      <h3>Ember-Ika-Forms</h3>
    {{/em-col}}
    {{#em-col col=8 offset=1}}
      <ul>
        <li>{{#link-to 'gettingStarted'}}gettingStarted{{/link-to}}</li>
        <li>{{#link-to 'controls'}}ember-form{{/link-to}}</li>
      </ul>
    {{/em-col}}
  {{/em-row}}
  {{#em-row}}
    {{#em-col col=12}}
      {{outlet}}
    {{/em-col}}
  {{/em-row}}
{{/em-container}}
