{{#em-container isFluid=true}}
  {{#em-row}}
    {{#em-col col=2}}
      <ul class="sidebar">
        <li>{{#link-to 'controls'}}em-form{{/link-to}}</li>
        <li>{{#link-to 'controls.input'}}em-input{{/link-to}}</li>
      </ul>
    {{/em-col}}
    {{#em-col col=10}}
      {{outlet}}
    {{/em-col}}
  {{/em-row}}
{{/em-container}}
